# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env
venv/
env/

# Logs
*.log
stderr.log

# Archives
*.zip

# Temporary & Backup files
tmp/
upload/
*.cpanel_backup
*.backup
*_backup.zip

# IDE
.vscode/
.idea/